{% extends "_layout.html" %}

{% block maincontent %}
    <div class="post">
        <div class="post-header">
            <i class="bi bi-person-circle"></i>
            <h6 class="poster">{{ post.author }}</h6>
            <p class="post-date">{{ post.datetime_post }}</p>
            {% if post.post_author_id == current_user.user_id %}
                <form action="/edit-post/{{ post.post_id }}" method="get">
                    <input type="hidden" name="post_id" value="{{ post.post_id }}">
                    <button type="submit" class="btn btn-danger btn-sm" id="delete-button">Edit</button>
                </form>
                <form action="/delete-post" method="post">
                    <button name="delete" type="submit" class="btn btn-danger btn-sm" id="delete-button" value="{{ post.post_id }}" >Delete</button>
                </form>
            {% endif %}
        </div>
        <div class="post-area">
            <!-- <h3 class="post-title">{{ post.title }}</h3> -->
            <p id="post-content">
                {{ post.post_content }}
            </p>
            <div class="post-btns">
                <i class="bi bi-heart"></i>
                <p>{{ post.num_likes }}</p>
                <i class="bi bi-chat-square-text"></i>
                <p>{{ post.num_comments }}</p>
                <i class="bi bi-share"></i>
            </div>
        </div>
    </div>
    <div class="user-comment">
        <i class="bi bi-person-circle"></i>
        <span> {{ current_user.username }} </span>
        {% for message in get_flashed_messages() %}
                {% if "There is" in message or "You are not" in message or "Please" in message %}
                    <div class="alert alert-warning alert-dismissible fade show alert-message" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        <form action="/confirm-edit-comment" method="post">
            <input type="hidden" name="post_id" value="{{ post.post_id }}">
            <input type="hidden" name="comment_id" value="{{ current_comment.comment_id }}">
            <div class="comment-text-btn">
                <textarea name="comment-content" id="textcommentarea" placeholder="Type here" maxlength="255">{{ current_comment.content }}</textarea>
                <span id="char-count">255 characters remaining</span>
                <button name="confirm-edit-comment" type="submit" class="btn btn-danger btn-sm" id="edit-comment">Confirm Edit</button>
            </div>
    </div>


{% endblock %}