{% extends "_layout.html" %}


{% block maincontent %}
    <div class="post">
        <i class="bi bi-person-circle"></i>
        <span> {{ current_user }} </span>
        <form action="/user-post" method="post">
            <div class="post-text-btn">
                <textarea name="post-content" id="textpostarea" placeholder="Type here" maxlength="255"></textarea>
                <span id="char-count">255 characters remaining</span>
                <button type="submit" class="btn btn-primary btn-sm" id="post-button">Post</button>
            </div>
        </form>
    </div>
    {% for post in all_posts %}
        
        <div class="post">
            <div class="post-header">
                <i class="bi bi-person-circle"></i>
                <h6 class="poster">{{ post.author }}</h6>
                <p class="post-date">{{ post.datetime_post }}</p>
            </div>
            <div class="post-area">
                <a href="/posts/{{ post.post_id }}" class="click-post">Click here to view the post</a>
                <!-- <h3 class="post-title">{{ post.title }}</h3> -->
                <p id="post-content">
                    {{ post.post_content }}
                </p>
                <div class="post-btns">
                    <i class="bi bi-heart"></i>
                    <i class="bi bi-chat-square-text"></i>
                    <i class="bi bi-share"></i>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block rightcontent %}
    <div class="recomm-container">
        <div class="recomm-user">
            <i class="bi bi-person-circle"></i>
            <span>username</span>
        </div>
        <div class="recomm-text">
            <p class="recomm-content">Grade Year: jinja variable</p>
            <p class="recomm-content">Concentration: jinja variable</p>
            <p class="recomm-content">Completed: jinja variable</p>
            <p class="recomm-content">Enrolled: jinja variable</p>
        </div>    
    </div>
{% endblock %}
