{% extends "_layout.html" %}

{% block maincontent%}
    <div class="profile-bio">
        <i class="bi bi-person-circle"></i>
        <div class="user-bio">

            <h2>{{ current_user.first_name}} {{current_user.last_name}}</h2>
            <h3>{{ current_user.concentration }}</h3>

        </div>
        <form action="/edit-profile" method="get">
            <button id="edit-profile-btn" type="submit">Edit Profile</button>
        </form>

        

    </div>

{% endblock %}

{% block rightcontent %}



{% endblock %}